extends layout

block content
  h1 Reversify
  p Reverse any string!
  h2 Examples:
  ul
    li 
      a(href='/iftekhar') iftekhar
    li
      a(href='/ahmad') ahmad
    li
      a(href='/chowdhury') chowdhury  
